/*----------menu----------------*/
.navbar-default {
  background-color: inherit;
  border-color: #eff0f2;
}
.navbar-right {
  text-align: center;
  margin-top: 62px;
  list-style-type: none;
}
.navbar-header {
  margin-bottom: 20px;
}
.navbar-brand {
  padding-top: 62px;
  padding-left: 150px;
}
.navbar-default .navbar-toggle {
  margin-top: 70px;
  margin-right: 100px;
  border-color: #eff0f2;
}
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar {
  margin-bottom: 0;
  padding: 0;
  text-transform: capitalize;
}
.navbar li {
  font-size: 16px;
  font-family: 'Raleway';
}
.navbar li a {
  color: #777879;
  text-align: center;
}
.navbar li a:hover {
  text-decoration: underline;
}
.navbar li a:hover:hover {
  color: #949494;
  text-shadow: 0px 0px 6px #75736e;
}
/*-------About Us----*/
.carousel_row {
  padding-bottom: 200px;
  padding-left: 100px;
}
div.comp_carousel {
  background-color: #eaebed;
  width: 476px;
  height: 410px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.carousel {
  padding-left: 50px;
  top: -50px;
}
.white {
  margin-left: 100px;
  height: 422px;
  position: relative;
  width: 650px;
  overflow: hidden;
}
.white:hover .white_hover {
  display: block;
  height: 422px;
  padding-top: 100px;
  position: absolute;
  top: 0;
  width: 650px;
  padding-left: 60px;
  overflow: hidden;
}
.plan {
  height: 422px;
  position: relative;
  width: 480px;
  margin-left: 50px;
  overflow: hidden;
}
.plan:hover .plan_hover {
  display: block;
  height: 422px;
  position: absolute;
  top: 0px;
  width: 480px;
  padding-left: 60px;
  padding-top: 100px;
  overflow: hidden;
}
.note {
  height: 422px;
  margin-left: 100px;
  padding-top: 20px;
  position: relative;
  overflow: hidden;
  width: 650px;
}
.note:hover .note_hover {
  display: block;
  height: 370px;
  position: absolute;
  top: 20px;
  width: 650px;
  padding-left: 60px;
  padding-top: 100px;
  overflow: hidden;
}
.mac {
  height: 422px;
  padding-top: 20px;
  position: relative;
  width: 480px;
  overflow: hidden;
  margin-left: 50px;
}
.mac:hover .mac_hover {
  display: block;
  height: 370px;
  padding-left: 60px;
  padding-top: 100px;
  position: absolute;
  top: 20px;
  width: 480px;
  overflow: hidden;
}
.dr {
  height: 370px;
  margin-left: 100px;
  padding-bottom: 50px;
  position: relative;
  width: 470px;
  overflow: hidden;
}
.dr:hover .dr_hover {
  display: block;
  height: 370px;
  padding-left: 60px;
  padding-top: 100px;
  position: absolute;
  top: 0px;
  width: 470px;
  overflow: hidden;
}
.cap {
  height: 370px;
  padding-bottom: 50px;
  position: relative;
  width: 650px;
  margin-left: 50px;
  overflow: hidden;
}
.cap:hover .cap_hover {
  display: block;
  height: 370px;
  padding-left: 60px;
  padding-top: 100px;
  position: absolute;
  top: 0;
  width: 650px;
  overflow: hidden;
}
.white_hover,
.plan_hover,
.note_hover,
.mac_hover,
.dr_hover,
.cap_hover {
  -webkit-transition: bottom 0.1s linear;
  transition: bottom 0.1s linear;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #f6f6f6;
  display: none;
}
.white_hover .note1,
.plan_hover .note1,
.note_hover .note1,
.mac_hover .note1,
.dr_hover .note1,
.cap_hover .note1 {
  font-family: 'Merriweather';
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #e7e7e7;
  line-height: 1.5;
}
.white_hover .note2,
.plan_hover .note2,
.note_hover .note2,
.mac_hover .note2,
.dr_hover .note2,
.cap_hover .note2 {
  text-transform: uppercase;
  cursor: pointer;
  color: #e7e7e7;
}
.white_hover .note2:hover,
.plan_hover .note2:hover,
.note_hover .note2:hover,
.mac_hover .note2:hover,
.dr_hover .note2:hover,
.cap_hover .note2:hover {
  text-decoration: underline;
}
#white_blue,
#white_blue2,
#white_blue3,
#white_blue4,
#white_blue5,
#white_blue6 {
  background-color: #71f5ea;
  display: none;
  position: absolute;
  z-index: 99;
  top: 0;
}
#white_blue h3,
#white_blue2 h3,
#white_blue3 h3,
#white_blue4 h3,
#white_blue5 h3,
#white_blue6 h3 {
  padding-left: 50px;
}
#white_blue {
  height: 422px;
  width: 652px;
}
#white_blue2 {
  width: 480px;
  height: 422px;
}
#white_blue3 {
  height: 370px;
  width: 650px;
  margin-top: 20px;
}
#white_blue4 {
  height: 370px;
  width: 480px;
  margin-top: 20px;
}
#white_blue5,
#white_blue6 {
  height: 370px;
}
.photos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.white,
.note,
.dr,
.plan,
.mac,
.cap {
  overflow: hidden;
  margin-right: 10px;
}
.white img,
.note img,
.dr img,
.plan img,
.mac img,
.cap img {
  margin-bottom: 50px;
  width: 100%;
}
body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
h1 {
  color: #505050;
  font-family: 'Montserrat', sans-serif;
  font-size: 44px;
  font-weight: bold;
  padding-top: 180px;
  text-align: center;
  text-shadow: 4pt 4pt 4pt #aaaaaa;
  line-height: 1.5;
}
h2 {
  color: #181919;
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 20px;
  margin-top: 124px;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  text-transform: uppercase;
  font-family: 'Merriweather';
  font-weight: bold;
  font-family: 20px;
  padding-bottom: 30px;
  padding-top: 100px;
}
h4 {
  text-align: center;
  text-transform: uppercase;
}
.back {
  background-color: #b2f2ee;
  height: 50px;
}
header {
  background-color: #eff0f2;
  overflow: hidden;
  zoom: 1;
}
header:before,
header:after {
  display: table;
  line-height: 0;
  content: "";
}
header:after {
  clear: both;
}
.Lorem {
  color: #848585;
  font-family: 'Merriweather', serif;
  font-size: 14pt;
  padding-bottom: 150px;
  text-align: center;
  text-transform: uppercase;
}
/* first block*/
.button_up {
  text-align: center;
  margin-top: 100px;
}
#btn {
  background-color: #eff0f2;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 2px solid #777879;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 15px 60px;
  text-decoration: none;
  text-transform: uppercase;
}
#btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 155px -10px rgba(0, 0, 0, 0.52);
          box-shadow: 0px 0px 155px -10px rgba(0, 0, 0, 0.52);
}
#btn:focus {
  outline: none;
}
#btn a {
  text-decoration: none;
  color: #777879;
}
img.juice {
  float: right;
  padding-right: 130px;
  padding-bottom: 90px;
}
/*----background with color------*/
.background {
  background-color: #f8fafa;
  overflow: hidden;
  width: 100%;
}
/* ----------background white------*/
.background_white {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
}
/* second block*/
/*-------About Us----*/
.item img.comp {
  height: 500px;
  width: 386px;
}
/*текст біля каруселі*/
.amazing {
  padding-right: 100px;
}
.amazing .text {
  color: #646565;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}
.amazing .text1 {
  color: #a6a7a7;
  font-size: 16px;
  line-height: 1.5;
}
/* third bllock*/
/*Fetured works*/
.product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.works {
  overflow: hidden;
  margin-right: 10px;
}
.works img {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  margin-bottom: 50px;
  width: 100%;
}
.works img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
/* fourth block*/
/*Our Services*/
p.design_p {
  padding-left: 50px;
  padding-right: 80px;
  line-height: 1.5;
}
.glyphicon-remove {
  padding-left: 50px;
  padding-top: 30px;
  cursor: pointer;
}
/*fifth?*/
/*Team*/
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1 ;
  }
}
/* Popup arrow */
.girl .student::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 18%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #71f5ea;
}
/* The actual popup */
.girl .student {
  visibility: hidden;
  line-height: 1.6;
  text-align: justify;
  width: 320px;
  background-color: #71f5ea;
  color: black;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 60px 30px;
  position: absolute;
  z-index: 1;
  bottom: 60;
  left: 28%;
  margin-left: -80px;
}
.girl .student span {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  text-transform: uppercase;
}
.girl .student .em {
  color: #767070;
  font-family: 'Merriweather', cursive;
  text-transform: capitalize;
  font-style: italic;
  font-size: 14px;
}
.girl .student .description {
  padding-top: 16px;
  font-size: 14px;
}
/* Toggle this class - hide and show the popup */
.girl .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  height: 242px;
}
/* Popup container - can be anything you want */
.girl {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  margin-right: 10px;
}
.team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.girl img {
  margin-bottom: 50px;
  width: 100%;
}
/*seventh_logos*/
/*Logos*/
.logos_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.logos {
  overflow: hidden;
  margin-right: 50px;
}
.logos img {
  margin-bottom: 50px;
  margin-top: 50px;
  width: 100%;
}
/*eighth_forms*/
/*Form*/
.forest {
  background-image: url(img/forest.png);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form_back {
  background-color: rgba(75, 90, 99, 0.52);
  height: 420px;
  margin-bottom: 100px;
  margin-left: 80px;
  padding-left: 35px;
  padding-top: 50px;
  width: 500px;
  margin-top: 100px;
  float: left;
  overflow: hidden;
  margin-right: 10px;
}
fieldset p {
  color: #fff;
  line-height: 1.5;
}
form .button {
  background-color: #6eeee4;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 2px solid #6eeee4;
  color: #2f6762;
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
}
form .button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
form .button:focus {
  outline: none;
}
input {
  border: none;
  background-color: rgba(75, 90, 99, 0.01);
  border-bottom: 1px solid #fff;
  width: 400px;
}
input:focus {
  outline: none;
}
.form_back1 {
  margin-top: 100px;
  background-color: rgba(75, 90, 99, 0.52);
  float: right;
  height: 420px;
  margin-bottom: 100px;
  margin-right: 80px;
  padding-left: 35px;
  padding-top: 50px;
  width: 500px;
  overflow: hidden;
  margin-right: 10px;
}
.form_back1 p {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}
iframe {
  height: 200px;
  padding-top: 20px;
  width: 430px;
}
.footer {
  background-color: #262b2e;
  overflow: hidden;
  width: 100%;
}
footer p {
  text-transform: uppercase;
  color: #d4d5d5;
  font-size: 16px;
  padding-top: 90px;
  text-align: center;
}
footer .copy {
  color: #6a6d6e;
  text-transform: capitalize;
  padding-bottom: 70px;
  padding-top: 50px;
}
footer div.links {
  text-align: center;
  padding-top: 30px;
}
footer div.links img {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}
.socialmediaicons ul {
  list-style: none;
  text-align: center;
  padding-top: 40px;
}
.socialmediaicons ul li {
  display: inline-block;
}
.socialmediaicons ul img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #eaebed;
  color: white;
  cursor: pointer;
  padding: 15px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
}
#myBtn:hover {
  background-color: #d6d8db;
}
/* --- CLEARFIX --- */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
@media screen and (max-width: 415px) {
  .works {
    overflow: hidden;
    margin-bottom: 10px;
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 860px) {
  .navbar-right {
    margin-right: 20px;
  }
  img.juice {
    display: none;
  }
  #btn {
    margin-bottom: 100px;
  }
  h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 1030px) {
  a.navbar-brand {
    padding-left: 50px;
  }
  .navbar-right {
    margin-right: 40px;
  }
  img.juice {
    padding-right: 80px;
  }
}
@media screen and (max-width: 1110px) {
  .container-full {
    margin-left: -40px;
    margin-right: -20px;
  }
}
@media screen and (max-width: 1298px) {
  .white,
  .note,
  .dr {
    margin-left: 50px;
  }
  .plan,
  .mac,
  .cap {
    margin-left: 0px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1198px) {
  .form_back {
    margin-left: 40px;
  }
  .form_back1 {
    margin-right: 40px;
  }
}
@media screen and (max-width: 1190px) {
  .white,
  .note,
  .dr {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1060px) {
  .logos img {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
  }
  .form_back {
    margin-bottom: 40px;
    margin-left: 12px;
  }
  .form_back1 {
    margin-top: 0px;
    margin-left: 40px;
  }
}
@media screen and (max-width: 986px) {
  .amazing {
    padding-top: 100px;
  }
  .comp_carousel {
    margin: 0 auto;
  }
}
/*@media screen and (max-width: 758px) {
    .girl{
      margin-right: 14px;
      margin-left: 14px;
    }
    .white,
    .note,
    .dr,
    .plan,
    .mac,
    .cap,
    {
      img{
        overflow: hidden;
        width: 100%;
      }
    }
    .white_hover,
  .plan_hover,
  .note_hover,
  .mac_hover,
  .dr_hover,
  .cap_hover{
    overflow: hidden;
    width: 100%;
  }
   
}*/
@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
    padding-top: 70px;
  }
  #btn {
    padding: 10px 30px;
    font-size: 14px;
  }
  .button_up {
    margin-top: 40px;
  }
  .comp_carousel {
    display: none;
  }
  .amazing {
    margin-top: -150px;
    padding-right: 20px;
    margin-left: -50px;
  }
  .amazing .text {
    font-size: 16px;
  }
  .amazing .text1 {
    font-size: 14px;
  }
  .carousel_row {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 570px) {
  .form_back1 {
    display: none;
  }
  .sec {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  input {
    width: 200px;
  }
}
@media screen and (max-width: 450px) {
  a.navbar-brand {
    padding-left: 20px;
  }
  h1 {
    font-size: 24px;
  }
  a.navbar-brand img {
    width: 90px;
  }
}
@media screen and (max-width: 360px) {
  h2 {
    font-size: 22px;
  }
  .Lorem {
    font-size: 14px;
    padding-bottom: 80px;
  }
}
